//  ================================================================================================
//  ? TIP:  It is recommended to use this file for overriding bootstrap variables.
//  ================================================================================================

$primary: #231F20;
$light: #BDBEC1;
$dark: #231F20;
// $secondary: #ebe9f1;